<% content_for :head do %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
<% end %>

<% content_for :body_class, "announcement" %>

<article class="list-creation">
  <section>
    <div class="field">
    <h3><%= @bulletin.title %></h3>
    
    <% if @bulletin.is_a? Ride %>
      <div>
        <b><%= @bulletin.start_date.strftime("%b %d") %><b>
      </div>
    <% end %>

    Posted
      <%= @bulletin.created_at.localtime.strftime("%A %B %e") %>
      by 
      <% if @bulletin.user.unix_id %>
         <%= link_to @bulletin.user.name, @bulletin.user %>
      <% else %>
         <%= @bulletin.user.name %>
      <% end %>
      <% if !current_user.nil? && (@bulletin.user == current_user || current_user.admin?) %>
        [ <%= link_to 'Edit', [:edit, @bulletin] %>
        | <%= link_to "Delete", bulletin_path(@bulletin), method: :delete, data: { confirm: "Are you sure?" } %> 
        ]
      <% end %>

    <br><br>
    <%= simple_format @bulletin.body %>
    </div>
    <br>
  </section>
</article>
